################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Seminar2HelgaAbramovic/bin/Debug/net6.0
/Seminar2HelgaAbramovic/obj
