################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Expert.DinoKabalin.Seminar/obj
/Expert.DinoKabalin.Seminar/bin/Debug/net7.0
